<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    var x = 10;
    window.onload = function() {

      var container = document.getElementsByClassName('container')[0];
      var canvas = document.getElementsByClassName('canvas')[0];



      var Circle = function(speed, startDegree, endDegree, radius, pos) {
        var dom = document.createElement('div');
        dom.className = 'bullet';
        this.dom = dom;

        var border = document.createElement('div');
        border.style.height = (radius * 2) + 'px';
        border.style.width = (radius * 2) + 'px';
        border.style.left = pos.x + 'px';
        border.style.top = pos.y + 'px';
        border.style.border = 'solid 1px red';
        border.style.position = 'absolute';
        border.style.borderRadius = radius + 'px';
        border.style.display = 'none';

        canvas.appendChild(dom);
        canvas.appendChild(border);

        this.draw = function() {
          startDegree += speed;
          if (startDegree > endDegree) {
            return;
          }
          var radian = startDegree * Math.PI / 180;
          var x = pos.x + Math.cos(radian) * radius + radius;
          var y = pos.y + Math.sin(radian) * radius + radius;
          dom.style.left = x + 'px';
          dom.style.top = y + 'px';
        }
      }

      function dtrX(degree) {
        var radian = degree * Math.PI / 180;
        return Math.cos(radian);
      }
      function dtrY(degree) {
        var radian = degree * Math.PI / 180;
        return Math.sin(radian);
      }

      var OctetCircle =function(speed, radius, pos) {
        var circleList = [];
        circleList.push(new Circle(speed, 0, 0, radius, {x: pos.x, y: pos.y}));
        circleList.push(new Circle(speed, 270, 360, radius, {x: pos.x, y: pos.y + radius}));
        circleList.push(new Circle(speed, 225, 315, radius, {x: pos.x + dtrX(45) * radius, y: pos.y + dtrY(45) * radius}));
        circleList.push(new Circle(speed, 180, 270, radius, {x: pos.x + radius, y: pos.y}));
        circleList.push(new Circle(speed, 315, 405, radius, {x: pos.x + dtrX(135) * radius, y: pos.y + dtrY(135) * radius}));
        circleList.push(new Circle(speed, 90, 180, radius, {x: pos.x, y: pos.y - radius}));
        circleList.push(new Circle(speed, 45, 135, radius, {x: pos.x + dtrX(225) * radius, y: pos.y + dtrY(225) * radius}));
        circleList.push(new Circle(speed, 0, 90, radius, {x: pos.x - radius, y: pos.y}));
        circleList.push(new Circle(speed, 135, 225, radius, {x: pos.x + dtrX(315) * radius, y: pos.y + dtrY(315) * radius}));
        this.draw = function() {
          for (var i = 0;  i < circleList.length; i++) {
            circleList[i].draw();
          }
        };
      }

      var c1 = new Circle(1, 0, 90, 50, {x: 250, y: 250});
      var c2 = new OctetCircle(1, 150, {x: canvas.offsetWidth/2 - 150, y:canvas.offsetHeight/2 - 150});
      function loop() {
        c1.draw();
        c2.draw();
        window.requestAnimationFrame(loop, container);
      }
      loop();
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="canvas">
    </div>
    <div class="barometer"></div>

  </div>
</body>
</html>
