.container {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
.canvas {
  -webkit-transform: translateZ(0);
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: solid 1px black;
  background-color: black;
}
#start {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
}
#end {
  position: absolute;
  top: 100px;
  left: 100px;
  color: white;
}

.barometer {
  position: static;
  width: 200px;
  height: 400px;
  margin-left: 400px;
}
.barometer label {
  display: inline-block;
}
.barometer div {
  display: inline-block;
}
.user {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 20px;
  height: 20px;
  border: solid 1px white;
  background-color: yellow;
  border-radius: 10px;
}

.bullet {
  border: 0px;
  margin: 0px;
  position: absolute;
  width : 3px;
  height : 3px;
  border: solid 1px green;
  background-color: white;
  border-radius: 1px;
}

.box {
  margin: 5px;
  border: 0px;
}
#std1 {
  margin: 0px;
  border: 0px;
  border: solid 1px red;
  left: 200px;
  top: 200px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
#std2 {
  margin: 0px;
  border: 0px;
  border: solid 1px red;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}
